---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=7afN5JYAJ1T1plJdrY1qPRNlcEI1S1fA&location=portland,%20or
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 25 Sep 2022 21:41:10 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"portland,
        or"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Portland","adminArea5Type":"City","adminArea4":"Multnomah
        County","adminArea4Type":"County","adminArea3":"OR","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039059","unknownInput":"","type":"s","latLng":{"lat":45.516018,"lng":-122.681425},"displayLatLng":{"lat":45.516018,"lng":-122.681425},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=7afN5JYAJ1T1plJdrY1qPRNlcEI1S1fA&type=map&size=225,160&locations=45.516018,-122.681425|marker-sm-50318A-1&scalebar=true&zoom=12&rand=990054256"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Portland","adminArea5Type":"City","adminArea4":"Multnomah
        County","adminArea4Type":"County","adminArea3":"OR","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"421589463","unknownInput":"","type":"s","latLng":{"lat":45.516018,"lng":-122.681425},"displayLatLng":{"lat":45.516018,"lng":-122.681425},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=7afN5JYAJ1T1plJdrY1qPRNlcEI1S1fA&type=map&size=225,160&locations=45.516018,-122.681425|marker-sm-50318A-2&scalebar=true&zoom=12&rand=-2004623665"}]}]}'
  recorded_at: Sun, 25 Sep 2022 21:41:10 GMT
recorded_with: VCR 6.1.0
