---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=ac304981920fd3cb47c94111644cd756&exclude=minutely,alerts&lat=45.516018&lon=-122.681425&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":45.516,"lon":-122.6814,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1664212443,"sunrise":1664200965,"sunset":1664244073,"temp":69.73,"feels_like":69.46,"pressure":1016,"humidity":65,"dew_point":57.45,"uvi":1.71,"clouds":0,"visibility":10000,"wind_speed":3.44,"wind_deg":360,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1664211600,"temp":69.73,"feels_like":69.46,"pressure":1016,"humidity":65,"dew_point":57.45,"uvi":1.71,"clouds":0,"visibility":10000,"wind_speed":1.32,"wind_deg":136,"wind_gust":2.68,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1664215200,"temp":71.02,"feels_like":70.56,"pressure":1016,"humidity":58,"dew_point":55.53,"uvi":3.04,"clouds":1,"visibility":10000,"wind_speed":1.28,"wind_deg":209,"wind_gust":2.08,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1664218800,"temp":73.9,"feels_like":73.35,"pressure":1016,"humidity":50,"dew_point":54.12,"uvi":4.25,"clouds":1,"visibility":10000,"wind_speed":2.01,"wind_deg":227,"wind_gust":2.51,"weather":[{"id":800,"main":[...]
